<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context" xsi:schemaLocation="
http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context-4.1.xsd
">


    <!--<context:property-placeholder location="classpath:properties/config.properties,classpath:log4j.properties" />-->

    <!--<bean id="configProperties" class="org.springframework.beans.factory.config.PropertiesFactoryBean">-->
        <!--<property name="locations">-->
            <!--<list>-->
                <!--<value>classpath:/properties/*.properties</value>-->
            <!--</list>-->
        <!--</property>-->
    <!--</bean>-->
    <!--<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PreferencesPlaceholderConfigurer">-->
        <!--<property name="properties" ref="configProperties"></property>-->
    <!--</bean>-->

    <!--<context:component-scan base-package="service,dao,entity"/>-->
    <!--<context:component-scan base-package="emro.service" />-->
    <!--<context:component-scan base-package="emro.plugin" />-->
    <!--<context:component-scan base-package="emro.activity" />-->
    <!--<context:component-scan base-package="emro.util" />-->
    <!--<context:component-scan base-package="emro.controller" />-->
    <!--<context:component-scan base-package="emro.pageModel" />-->
    <!--<context:component-scan base-package="emro.model" />-->
    <!--<context:component-scan base-package="emro.paypolicy" />-->

    <!--<context:component-scan base-package="emro.annotations" />-->
    <!--<context:component-scan base-package="emro.aspect" />-->

    <import resource="classpath:Spring-mybatis.xml"/>

    <!--<import resource="classpath:spring-xmemcached.xml"/>-->
    <!--<import resource="classpath:spring-redis.xml"/>-->
    <!--<import resource="classpath:spring-mail.xml"/>-->

    <!--<import resource="classpath:spring-activemq.xml"/>-->
    <!--<import resource="classpath:spring-ezhuSource.xml"/>-->



    <!-- <import resource="classpath:spring-swagger.xml"/> -->

</beans>